@import 'font-icons'
@import 'nib'
global-reset()

@keyframes flash
    0%
        opacity 1
    50%
        opacity 0
    100%
        opacity 1

body
    padding-top 80px
    text-align center
    background-color #efefef

header
    position fixed
    top 0
    width 100%
    background-color #efefef
    border-bottom 1px solid #cccccc
    box-shadow 0 1px 9px rgba(0, 0, 0, 0.1)
    z-index 1

section
    margin-bottom 250px
    counter-increment question

    &.disabled
        display none

.question
    color #09b39c

    &:before
        content: "Q" counter(question) ". "

.answer
    display -webkit-box
    display -moz-box
    display -o-box
    display -ms-flexbox
    display -webkit-flex
    display flex
    padding 0

    > li
        position relative
        transition all 300ms ease-out
        height 310px
        overflow hidden
        -webkit-box-flex 10.0
        -moz-box-flex 10.0
        -o-box-flex 10.0
        -ms-flexbox 10.0
        -webkit-flex 10.0
        -moz-flex 10.0
        -o-flex 10.0
        flex 10.0
        font-size 24px

        &:first-child
            background-color #ffffcc

            &:hover
                background-color #ffffd8

        &:nth-child(2)
            background-color #ccffcc

            &:hover
                background-color #d8ffd8

        &.disabled
            flex 0.01

        .answer-item
            transition background-color 200ms ease-out
            display block
            padding 140px 30px
            box-sizing border-box
            color #333333
            text-decoration none
            white-space nowrap

        .next
            position relative
            display none
            animation flash 1s steps(1) infinite
            position absolute
            right 50px
            bottom 30px
            color #333333
            font-size 30px

            &.icon-point-down:before
                position absolute
                top 0
                right -30px

    .comment
        display none
        opacity 0
        margin 50px

        &.visible
            transition opacity 500ms ease-out
            opacity 1

        > li
            margin-bottom 10px

            &:before
                content: "・"