extends /layouts/_default

block content
    section(id="q1")
        h2.question Q1. 幼年期
        ul.answer
            li
                a.answer-item(href="#") モンゴル
                ul.comment
                    li 10%の確率で病気で亡くなります。
                    li 10%の確率で病気で亡くなります。
                    li 10%の確率で病気で亡くなります。
                a.next.icon-point-down(href="#q2") 次へ

            li
                a.answer-item(href="#") アフガニスタン
                ul.comment
                    li 10%の確率で病気で亡くなります。
                    li 10%の確率で病気で亡くなります。
                    li 10%の確率で病気で亡くなります。
                a.next.icon-point-down(href="#q2") 次へ

    section.disabled(id="q2")
        h2.question Q2. 少年期
        ul.answer
            li
                a.answer-item(href="#") モンゴル
                ul.comment
                    li 20%の確率で字が読めません。
                    li 20%の確率で字が読めません。
                    li 20%の確率で字が読めません。
                a.next.icon-point-down(href="#q3") 次へ

            li
                a.answer-item(href="#") アフガニスタン
                ul.comment
                    li 20%の確率で字が読めません。
                    li 20%の確率で字が読めません。
                    li 20%の確率で字が読めません。
                a.next.icon-point-down(href="#q3") 次へ

    section.disabled(id="q3")
        h2.question Q3. 青年期
        ul.answer
            li
                a.answer-item(href="#") モンゴル
                ul.comment
                    li 50%の確率で働いています。
                    li 50%の確率で働いています。
                    li 50%の確率で働いています。
                a.next.icon-point-down(href="#q4") 次へ

            li
                a.answer-item(href="#") アフガニスタン
                ul.comment
                    li 50%の確率で働いています。
                    li 50%の確率で働いています。
                    li 50%の確率で働いています。
                a.next.icon-point-down(href="#q4") 次へ

    section.disabled(id="q4")
        h2.question Q4. 壮年期
        ul.answer
            li
                a.answer-item(href="#") モンゴル
                ul.comment
                    li 30%の確率で給料が5000円以下です。
                    li 30%の確率で給料が5000円以下です。
                    li 30%の確率で給料が5000円以下です。
                a.next.icon-point-down(href="#q5") 次へ

            li
                a.answer-item(href="#") アフガニスタン
                ul.comment
                    li 30%の確率で給料が5000円以下です。
                    li 30%の確率で給料が5000円以下です。
                    li 30%の確率で給料が5000円以下です。
                a.next.icon-point-down(href="#q5") 次へ

    section.disabled(id="q5")
        h2.question Q5. 中年期
        ul.answer
            li
                a.answer-item(href="#") モンゴル
                ul.comment
                    li 10%の確率で病気で亡くなります。
                    li 10%の確率で病気で亡くなります。
                    li 10%の確率で病気で亡くなります。
                a.next.icon-point-down(href="#q6") 次へ

            li
                a.answer-item(href="#") アフガニスタン
                ul.comment
                    li 10%の確率で病気で亡くなります。
                    li 10%の確率で病気で亡くなります。
                    li 10%の確率で病気で亡くなります。
                a.next.icon-point-down(href="#q6") 次へ

    section.disabled(id="q6")
        h2.question Q6. 高年期
        ul.answer
            li
                a.answer-item(href="#") モンゴル
                ul.comment
                    li 50%の確率で病気で亡くなります。
                    li 50%の確率で病気で亡くなります。
                    li 50%の確率で病気で亡くなります。
                a.next.icon-point-down(href="#result") 結果へ

            li
                a.answer-item(href="#") アフガニスタン
                ul.comment
                    li 50%の確率で病気で亡くなります。
                    li 50%の確率で病気で亡くなります。
                    li 50%の確率で病気で亡くなります。
                a.next.icon-point-down(href="#result") 結果へ

    section.disabled(id="result")
